<body>
  {{> main/navbar }}

<main class="container" style="padding-top: 7em;">
  <h1>{{message}}</h1>
  <h2>{{status}}</h2>
  <figure>
    <blockquote class="blockquote">
      <p>Decay is inherent in all compound things. Work out your own salvation with diligence.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      The last words of the Buddha
    </figcaption>
  </figure>
  
  <p><a href="javascript:history.back()">Go Back</a></p>

</main><!-- End Main -->

</body>